:root {
    --brand-color: #cd0d1c;
  }
  
  .row{
    display: flex;
    align-content: center;
    align-items: center;
    gap: 20px;

    .col-2{
      width: 20%;
      max-width: 20%;
      box-sizing: border-box;
    }
  
    .col-3{
      width: 25%;
      max-width: 25%;
      box-sizing: border-box;
    }    
    
    .col-4{
      width: 33.3%;
      max-width: 33.3%;
      box-sizing: border-box;
    }  
  
    .col-6{
      width: 50%;
      max-width: 50%;
      box-sizing: border-box;
    }      
    
    .col-8{
      width: 66.6%;
      max-width: 66.6%;
      box-sizing: border-box;
    }  
    
    .col-12{
      width: 100%;
      box-sizing: border-box;
    }
  
    &>div{

    }
  }
  

.icon-size-2{
    width: 2em;
    height: 2em;
}
.icon-size-5{
    width: 5em;
    height: 5em;
}


.clear-both{
    clear: both;
}


.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.formkit-wrapper, .formkit-fieldset{
    max-width: 100%;
}



